@media screen and (max-width: 760px){

    header{
        display: flex;
        flex-direction: column;
    }


    main{
        display: flex;
        flex-direction: column;
    }
    
    h2{
        font-size: 50px;
        margin-left: 90px;
        
    }
    .gp{
        
     margin-left: 90px;
        
    }


    form{
        margin: 0 auto;
        
    }

    input{
        align-self: center;
    }
    img{
        display: none;
    }

    ul{
        text-align: center;
    }

}